AddDefaultCharset utf-8

<IfModule mod_rewrite.c>
    RewriteEngine on

    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    RewriteRule ^admin/api/([^.]+)$ admin/api.php?method=$1 [QSA,L]

    RewriteRule ^admin/([^.]+)$ admin/index.php [L]

    RewriteRule ^api/([^.]+)/$ api.php?method=$1 [L]

    RewriteCond %{REQUEST_URI} !\.(?:css|js|jpg|png|gif|svg|eot|ttf|woff)$ [NC]
    RewriteRule (.*) index.php [L]
</IfModule>
