AddDefaultCharset utf-8
RewriteEngine on

RewriteRule ^admin/(.*)/$ admin/index.php [QSA,L]
RewriteRule ^admin/api/(.*)/$ admin/api.php?method=$1 [QSA,L]

RewriteRule ^api/(.*)/$ api.php?method=$1 [QSA,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ index.php [QSA,L]
