<form>
    <fieldset>
        <label for="login">Login:</label>
        <input type="text" id="login" name="login" value="" />
    </fieldset>
    <fieldset>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" value="" />
    </fieldset>
    <fieldset>
        <input type="submit" value="Login" />
    </fieldset>
</form>
