<header>
    <div id="logo">
    </div>
    <div id="heading">
        <p><a href="/chaplin/">Моя Бухгалтерия</a></p>
    </div>
</header>
<nav class="nav-collapse">
    <ul class="main">
        <li><a href="/chaplin/#">Главная</a></li>
        <li><a href="/chaplin/#add">Добавить запись</a></li>
        <li><a href="/chaplin/#logout">Выйти</a></li>
    </ul>
</nav>

<div id="main-container"></div>
